<form method="POST" action="/signup">
<p><label>Username:</label> <input type="text" name="username" id="username" /></p>
<p><label>E-mail:</label> <input type="email" name="email" id="email" /></p>
<p><label>Password:</label> <input type="password" name="password" id="password" /></p>


<p>
<input type="submit" value="Sign Up" />
</form></p>
